/.vscode
node_modules
/coverage
firebase-debug.log
npm-debug.log
package-lock.json
.npmrc

.DS_Store
.idea
*.iml

**/.firebaserc
*/npm-debug.log
lerna-debug.log
*~
service-account-credentials.json
**/secrets.json
**/firebase-debug.log
**/node_modules
**/bower_components
**/*.bak
.idea